.expert {
    position: relative;
    clip-path: polygon(46% 0, 100% 0, 100% 100%, 50% 100%, 0 87%, 0 0);
    height: fit-content;
    background: #ededef;
    z-index: 10;
}

.expert__line {
    display: flex;
    align-items: center;
    -webkit-animation: aligning 2s infinite;
    animation: aligning 2s infinite;
    height: 600px;
    margin-top: -54px;
}

.expert__lineFirst {
    display: flex;
    align-items: center;
}

.expert-row {
    display: flex;
    align-items: center;
}

.expertTitle {
    font-weight: bold;
    text-align: right;
}

.expertText {
    text-align: right;
}

.expertTitleRight {
    font-weight: bold;
}

.expertLeft {
    padding-right: 2rem;
}

.expertRight {
    padding-left: 3rem;
}

.expertLastRow {
    padding-bottom: 12rem;
}

.img-yog {
    width: 25rem;
    height: 25rem;
    -webkit-animation: aligning 1s infinite;
    animation: aligning 1s infinite;
}

.expertTitleFirst {
    font-weight: bold;
    color: #3f00fd;
}

.expertRocket {
    margin-bottom: -15rem;
}

@-webkit-keyframes aligning {
    0% {
        padding-top: 5px;
    }
    50% {
        padding-bottom: 10px;
    }
    100% {
        padding-top: 5px;
    }
}

@keyframes aligning {
    0% {
        padding-top: 5px;
    }
    50% {
        padding-bottom: 10px;
    }
    100% {
        padding-top: 5px;
    }
}

.expert__lineLeft {
    width: 50%;
    margin-right: 50px;
}

.expert__lineRight {
    width: 50%;
    margin-left: 50px;
}

.expert__lineText {
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    font-weight: 300;
    text-align: right;
}

.expert__lineFirstTitle {
    font-size: 57px;
    line-height: 85px;
    color: #4000ff;
    font-weight: 700;
    font-family: "Work Sans";
}

.expert__lineTitle {
    font-size: 51px;
    line-height: 60px;
    color: #000000;
    font-weight: 700;
    font-family: "Work Sans";
    text-align: right;
}

.expert__lineImage {
    object-fit: contain;
}

.expert__lineLast {
    padding-bottom: 194px;
}

.expert__lineRightYog {
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
    0% {
        padding-top: 0rem;
    }
    50% {
        padding-top: 5rem;
    }
    100% {
        padding-top: 0rem;
    }
}

@keyframes pulsing {
    0% {
        padding-top: 0rem;
    }
    50% {
        padding-top: 5rem;
    }
    100% {
        padding-top: 0rem;
    }
}

@media (max-width: 1025px) {
    .animateRocket {
        margin-left: -8rem;
    }

    .kon, .kind, .table {
        width: 350px !important;
        height: 350px !important;
    }

    .kon {
        -webkit-animation: kon1024 6s infinite !important;
        animation: kon1024 6s infinite !important;
    }

    .kind {
        -webkit-animation: kind1024 6s infinite !important;
        animation: kind1024 6s infinite !important;
    }

    .img-yog {
        width: 20rem;
        height: 20rem;
    }

    @-webkit-keyframes kon1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -5rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kon1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -5rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
    @-webkit-keyframes kind1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 5rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kind1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 5rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
}
@media(max-width: 927px) {
    .animateRocket {
        margin-left: -12rem;
        width: 650px;
        height: 650px;
    }

    .expertRight {
        padding-left: 1rem;
    }

    .kon, .kind, .table {
        width: 300px !important;
        height: 300px !important;
    }

    .kon {
        -webkit-animation: kon1024 6s infinite !important;
        animation: kon1024 6s infinite !important;
    }

    .kind {
        -webkit-animation: kind1024 6s infinite !important;
        animation: kind1024 6s infinite !important;
    }

    @-webkit-keyframes kon1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kon1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
    @-webkit-keyframes kind1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kind1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    .stone {
        position: relative;
        z-index: -1;
        width: 3rem !important;
        height: 3rem !important;
    }

    .line {
        position: absolute;
        z-index: 1;
        width: 16rem !important;
        height: 16rem !important;
        margin-top: -7.5rem !important;
        margin-left: -9.5rem !important;
        margin-bottom: 0.8rem !important;
        -webkit-animation: line 7s infinite;
        animation: line 7s infinite;
    }

    .scalesRocket {
        height: 33.6rem !important;
        width: 23rem !important;
        margin-top: -17.7rem;
        margin-left: -13rem !important;
        -webkit-animation: scalesRocket768 7s infinite;
        animation: scalesRocket768 7s infinite;
    }

    .scalesRocketRight {
        height: 6.8rem !important;
        width: 5rem !important;
        margin-left: 6.4rem !important;
        margin-top: -5.5rem;
    }

    .rocket {
        width: 22rem !important;
        height: 35rem !important;
        margin-left: -6.2rem !important;
    }

    .animateHorse {
        margin-left: -1rem;
    }

    .expertTitleFirst, .expertTitle, .expertTitleRight {
        font-size: 1.6rem;
    }

    p {
        font-size: 12px !important;
    }

    .expertTwoRow {
        height: 12rem;
    }

    .expertLastRow {
        padding-bottom: 7rem;
    }
}

@media (max-width: 845px) {
    .animateRocket {
        width: 700px;
        height: 700px;
        padding: 20rem;
        margin-left: -14rem;
    }

    .animateHorse {
        display: flex;
        margin-left: -5rem;
    }
}

@media (max-width: 824px) {
    .animateRocket {
        margin-left: -12rem;
        width: 650px;
        height: 650px;
    }

    .expertRight {
        padding-left: 1rem;
    }

    .kon, .kind, .table {
        width: 300px !important;
        height: 300px !important;
    }

    .kon {
        -webkit-animation: kon1024 6s infinite !important;
        animation: kon1024 6s infinite !important;
    }

    .kind {
        -webkit-animation: kind1024 6s infinite !important;
        animation: kind1024 6s infinite !important;
    }

    @-webkit-keyframes kon1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kon1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
    @-webkit-keyframes kind1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kind1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    .stone {
        position: relative;
        z-index: -1;
        width: 3rem !important;
        height: 3rem !important;
    }

    .line {
        position: absolute;
        z-index: 1;
        width: 16rem !important;
        height: 16rem !important;
        margin-top: -7.5rem !important;
        margin-left: -9.5rem !important;
        margin-bottom: 0.8rem !important;
        -webkit-animation: line 7s infinite;
        animation: line 7s infinite;
    }

    .scalesRocket {
        height: 33.6rem !important;
        width: 23rem !important;
        margin-top: -17.7rem;
        margin-left: -13rem !important;
        -webkit-animation: scalesRocket768 7s infinite;
        animation: scalesRocket768 7s infinite;
    }

    .scalesRocketRight {
        height: 6.8rem !important;
        width: 5rem !important;
        margin-left: 6.4rem !important;
        margin-top: -5.5rem;
    }

    .rocket {
        width: 22rem !important;
        height: 35rem !important;
        margin-left: -6.2rem !important;
    }

    .animateHorse {
        margin-left: -1rem;
    }

    .expertTitleFirst, .expertTitle, .expertTitleRight {
        font-size: 1.6rem;
    }

    p {
        font-size: 12px !important;
    }

    .expertTwoRow {
        height: 12rem;
    }

    .expertLastRow {
        padding-bottom: 7rem;
    }

}

@media (max-width: 736px) {
    .animateRocket {
        margin-left: -18rem;
        width: 650px;
        height: 650px;
    }

    .expertTwoRow {
        height: 15rem;
    }

    .animateRocket {
        margin-left: -16rem;
    }
    .expertTitleFirst, .expertTitle, .expertTitleRight {
        font-size: 1rem;
    }
    .expertText {
        font-size: 10px;
    }
}

@media(max-width: 668px) {
    .animateHorse {
        margin-left: -3rem;
    }
    p {
        font-size: 10px !important;
    }
}

@media(max-width: 641px) {
    .animateHorse {
        margin-left: -4rem;
    }
    .animateRocket {
        margin-left: -14.5rem;
    }
}

@media (max-width: 601px) {
    .expertTitleFirst, .expertTitle, .expertTitleRight {
        font-size: 0.7rem;
    }

    p {
        font-size: 8px !important;
    }

    .expertTwoRow {
        height: 20rem;
    }

    .expertLeft {
        padding-right: 0.5rem;
    }

    .expertRight {
        padding-left: 0.5rem;
    }

    .expertRocket {
        margin-bottom: 0rem;
    }

    .stone {
        width: 2rem !important;
        height: 2rem !important;
        margin-left: -3.2rem;
    }

    .line {
        width: 9rem !important;
        height: 9rem !important;
        margin-top: -4.1rem !important;
        margin-left: -5.3rem !important;
        animation: line 7s infinite !important;
    }

    .scalesRocket {
        height: 33.6rem !important;
        width: 15rem !important;
        margin-top: -17.7rem;
        margin-left: -11rem !important;
        animation: scalesRocket426 7s infinite !important;
    }

    .scalesRocketRight {
        height: 5.8rem !important;
        width: 3.5rem !important;
        margin-left: 0.4rem !important;
        margin-top: -5.5rem;
        animation: scalesRocketRight426 7s infinite !important;
    }

    .rocket {
        width: 17rem !important;
        height: 37rem !important;
        margin-left: -9.5rem !important;
        animation: rocket426 7s infinite !important;
    }

    @-webkit-keyframes scalesRocket426 {
        0% {
            margin-top: -19.6rem;
        }
        50% {
            margin-top: -21.5rem;
        }
        100% {
            margin-top: -19.6rem;
        }
    }

    @keyframes scalesRocket426 {
        0% {
            margin-top: -19.6rem;
        }
        50% {
            margin-top: -21.5rem;
        }
        100% {
            margin-top: -19.6rem;
        }
    }

    @-webkit-keyframes scalesRocketRight426 {
        0% {
            margin-top: -4.7rem;
        }
        50% {
            margin-top: -2.6rem;
        }
        100% {
            margin-top: -4.7rem;
        }
    }

    @keyframes scalesRocketRight426 {
        0% {
            margin-top: -4.7rem;
        }
        50% {
            margin-top: -2.6rem;
        }
        100% {
            margin-top: -4.7rem;
        }
    }

    .expertTwoRow {
        height: 20rem;
        margin-bottom: -13rem;
    }

    .kon, .kind, .table {
        width: 160px !important;
        height: 156px !important;
    }

    .animateRocket {
        width: 400px !important;
        height: 400px !important;
        padding: 15rem !important;
        padding-left: 26rem !important;
        padding-top: 21rem !important;
    }

    .expertRocket {
        margin-bottom: -12rem;
    }

    .expertLastRow {
        padding-bottom: 5rem;
    }

    .expertOneRow {
        margin-bottom: -6rem;
    }

    .kon {
        animation: kon425 6s infinite !important;
    }

    .kind {
        animation: kind425 6s infinite !important;
    }

    @-webkit-keyframes rocket426 {
        0% {
            margin-top: -24.5rem;
        }
        50% {
            margin-top: -20.2rem;
        }
        65% {
            margin-top: -24.5rem;
        }
        100% {
            margin-top: -25rem;
        }
    }

    @keyframes rocket426 {
        0% {
            margin-top: -24.5rem;
        }
        50% {
            margin-top: -20.2rem;
        }
        65% {
            margin-top: -24.5rem;
        }
        100% {
            margin-top: -24.5rem;
        }
    }
    @-webkit-keyframes kind425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kind425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
    @-webkit-keyframes kon425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kon425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
    .expertTwoRow {
        height: 20rem;
        margin-bottom: -16rem;
    }

    .img-yog {
        width: 10rem;
        height: 7.7rem;
        animation: yog425 3s infinite !important;
    }

    @-webkit-keyframes yog425 {
        /*0% {*/
        /*    margin-top: 0rem;*/
        /*}*/
        /*50% {*/
        /*    margin-top: -0.5rem;*/
        /*}*/
        /*100% {*/
        /*    margin-top: 0rem;*/
        /*}*/
    }

    @keyframes yog425 {
        /*0% {*/
        /*    margin-top: 0rem;*/
        /*}*/
        /*50% {*/
        /*    margin-top: 0.5rem;*/
        /*}*/
        /*100% {*/
        /*    margin-top: 0rem;*/
        /*}*/
    }
    .expertLastRow {
        padding-bottom: 3rem;
    }

    .bootstrap__tableTwo {
        height: 302px;
        margin-bottom: -7rem;
    }
    .animateHorse {
        margin-left: 1rem;
    }
}

@media(max-width: 481px) {
    .animateRocket {
        padding-left: 23rem !important;
    }
}

@media (max-width: 429px) {
    .expertTitleFirst, .expertTitle, .expertTitleRight {
        font-size: 0.7rem;
    }

    p {
        font-size: 8px !important;
    }

    .expertTwoRow {
        height: 20rem;
    }

    .expertLeft {
        padding-right: 0.5rem;
    }

    .expertRight {
        padding-left: 0.5rem;
    }

    .expertRocket {
        margin-bottom: 0rem;
    }

    .stone {
        width: 2rem !important;
        height: 2rem !important;
        margin-left: -3.2rem;
    }

    .line {
        width: 9rem !important;
        height: 9rem !important;
        margin-top: -4.1rem !important;
        margin-left: -5.3rem !important;
        animation: line 7s infinite !important;
    }

    .scalesRocket {
        height: 33.6rem !important;
        width: 15rem !important;
        margin-top: -17.7rem;
        margin-left: -11rem !important;
        animation: scalesRocket426 7s infinite !important;
    }

    .scalesRocketRight {
        height: 5.8rem !important;
        width: 3.5rem !important;
        margin-left: 0.4rem !important;
        margin-top: -5.5rem;
        animation: scalesRocketRight426 7s infinite !important;
    }

    .rocket {
        width: 17rem !important;
        height: 37rem !important;
        margin-left: -9.5rem !important;
        animation: rocket426 7s infinite !important;
    }

    @-webkit-keyframes scalesRocket426 {
        0% {
            margin-top: -19.6rem;
        }
        50% {
            margin-top: -21.5rem;
        }
        100% {
            margin-top: -19.6rem;
        }
    }

    @keyframes scalesRocket426 {
        0% {
            margin-top: -19.6rem;
        }
        50% {
            margin-top: -21.5rem;
        }
        100% {
            margin-top: -19.6rem;
        }
    }

    @-webkit-keyframes scalesRocketRight426 {
        0% {
            margin-top: -4.7rem;
        }
        50% {
            margin-top: -2.6rem;
        }
        100% {
            margin-top: -4.7rem;
        }
    }

    @keyframes scalesRocketRight426 {
        0% {
            margin-top: -4.7rem;
        }
        50% {
            margin-top: -2.6rem;
        }
        100% {
            margin-top: -4.7rem;
        }
    }

    .expertTwoRow {
        height: 20rem;
        margin-bottom: -13rem;
    }

    .kon, .kind, .table {
        width: 160px !important;
        height: 156px !important;
    }

    .animateRocket {
        width: 400px !important;
        height: 400px !important;
        padding: 15rem !important;
        padding-left: 22rem !important;
        padding-top: 21rem !important;
    }

    .animateHorse {
        margin-left: 0rem;
    }

    .expertRocket {
        margin-bottom: -12rem;
    }

    .expertLastRow {
        padding-bottom: 5rem;
    }

    .expertOneRow {
        margin-bottom: -6rem;
    }

    .kon {
        animation: kon425 6s infinite !important;
    }

    .kind {
        animation: kind425 6s infinite !important;
    }

    @-webkit-keyframes rocket426 {
        0% {
            margin-top: -24.5rem;
        }
        50% {
            margin-top: -20.2rem;
        }
        65% {
            margin-top: -24.5rem;
        }
        100% {
            margin-top: -25rem;
        }
    }

    @keyframes rocket426 {
        0% {
            margin-top: -24.5rem;
        }
        50% {
            margin-top: -20.2rem;
        }
        65% {
            margin-top: -24.5rem;
        }
        100% {
            margin-top: -24.5rem;
        }
    }
    @-webkit-keyframes kind425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kind425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
    @-webkit-keyframes kon425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kon425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
    .expertTwoRow {
        height: 20rem;
        margin-bottom: -16rem;
    }

    .img-yog {
        width: 10rem;
        height: 7.7rem;
        animation: yog425 3s infinite !important;
    }

    @-webkit-keyframes yog425 {
        /*0% {*/
        /*    margin-top: 0rem;*/
        /*}*/
        /*50% {*/
        /*    margin-top: -0.5rem;*/
        /*}*/
        /*100% {*/
        /*    margin-top: 0rem;*/
        /*}*/
    }

    @keyframes yog425 {
        /*0% {*/
        /*    margin-top: 0rem;*/
        /*}*/
        /*50% {*/
        /*    margin-top: 0.5rem;*/
        /*}*/
        /*100% {*/
        /*    margin-top: 0rem;*/
        /*}*/
    }
    .expertLastRow {
        padding-bottom: 3rem;
    }

    .bootstrap__tableTwo {
        height: 302px;
        margin-bottom: -7rem;
    }
}

@media(max-width: 415px) {
    .animateRocket {
        width: 400px !important;
        height: 400px !important;
        padding: 15rem !important;
        padding-left: 22.3rem !important;
        padding-top: 21rem !important;
    }
    .animateHorse {
        margin-left: 0rem;
    }
}

@media(max-width: 391px) {
    .animateHorse {
        margin-left: -1rem;
    }
}

@media (max-width: 376px) {
    .expertTitleFirst, .expertTitle, .expertTitleRight {
        font-size: 0.6rem;
    }

    p {
        font-size: 5px !important;
    }

    .stone {
        width: 1.3rem !important;
        height: 1.3rem !important;
    }

    .line {
        width: 7rem !important;
        height: 7rem !important;
        margin-top: -3.1rem !important;
        margin-left: -4.3rem !important;
    }

    .scalesRocket {
        height: 35.6rem !important;
        width: 11rem !important;
        margin-top: -17.7rem;
        margin-left: -9.5rem !important;
        animation: scalesRocket376 7s infinite !important;
    }

    .scalesRocketRight {
        height: 6.6rem !important;
        width: 2.5rem !important;
        margin-left: -0.5rem !important;
        margin-top: -5.5rem;
        animation: scalesRocketRight376 7s infinite !important;
    }

    .rocket {
        width: 15rem !important;
        height: 39rem !important;
        margin-left: -9.5rem !important;
        animation: rocket376 7s infinite !important;
    }

    .animateRocket {
        padding-left: 21.5rem !important;
    }
    .animateHorse {
        margin-left: -0.5rem;
    }
    .kon, .kind, .table {
        width: 129px !important;
        height: 120px !important;
    }

    .expertTwoRow {
        height: 20rem;
        margin-bottom: -20rem;
    }

    .expertRocket {
        margin-bottom: -14rem;
    }

    @-webkit-keyframes scalesRocket376 {
        0% {
            margin-top: -19.5rem;
        }
        50% {
            margin-top: -21rem;
        }
        100% {
            margin-top: -19.5rem;
        }
    }

    @keyframes scalesRocket376 {
        0% {
            margin-top: -19.5rem;
        }
        50% {
            margin-top: -21rem;
        }
        100% {
            margin-top: -19.5rem;
        }
    }
    @-webkit-keyframes rocket376 {
        0% {
            margin-top: -23.5rem;
        }
        50% {
            margin-top: -20.2rem;
        }
        65% {
            margin-top: -23.5rem;
        }
        100% {
            margin-top: -23.5rem;
        }
    }

    @keyframes rocket376 {
        0% {
            margin-top: -23.5rem;
        }
        50% {
            margin-top: -20.4rem;
        }
        65% {
            margin-top: -23.5rem;
        }
        100% {
            margin-top: -23.5rem;
        }
    }
    @-webkit-keyframes scalesRocketRight376 {
        0% {
            margin-top: -4.6rem;
        }
        50% {
            margin-top: -2.9rem;
        }
        100% {
            margin-top: -4.6rem;
        }
    }

    @keyframes scalesRocketRight376 {
        0% {
            margin-top: -4.6rem;
        }
        50% {
            margin-top: -2.9rem;
        }
        100% {
            margin-top: -4.6rem;
        }
    }
    .img-yog {
        width: 8rem;
        height: 8rem;
        animation: aligning375 3s infinite;

    }

    @-webkit-keyframes aligning375 {
        0% {
            padding-right: 0px;
        }
        50% {
            padding-right: 5px;
        }
        100% {
            padding-right: 0px;
        }
    }

    @keyframes aligning375 {
        0% {
            padding-right: 0px;
        }
        50% {
            padding-right: 5px;
        }
        100% {
            padding-right: 0px;
        }
    }
    h1.bootstrap__tableTitle.bootstrap__marginTop {
        font-size: 1.2rem;
    }

    .bootstrap__tableText {
        margin-bottom: 10px !important;
    }
}

@media (max-width: 361px) {
    .animateRocket {
        padding-left: 21rem !important;
    }
}

@media (max-width: 321px) {
    .kon, .kind, .table {
        width: 119px !important;
        height: 110px !important;
    }

    .animateRocket {
        width: 400px !important;
        height: 400px !important;
        padding: 12rem !important;
        padding-left: 21rem !important;
        padding-top: 17rem !important;
        margin-bottom: 2rem;
    }

    .expertOneRow {
        margin-bottom: -6rem;
    }

    .expertTwoRow {
        height: 20rem;
        margin-bottom: -15.5rem;
    }

    .expertRocket {
        margin-bottom: -13rem;
    }

    .expertLastRow {
        padding-bottom: 3rem;
    }

    h1.bootstrap__tableTitle.bootstrap__marginTop {
        font-size: 1rem;
    }

    .bootstrap__tableText {
        margin-bottom: 6px !important;
    }

    .bootstrap__tableText {
        margin-bottom: 10px !important;
    }

    .bootstrap__table {
        height: 285px;
        margin-bottom: 0rem;
    }

    .bootstrap__tableTwo {
        height: 302px;
        margin-bottom: -8rem;
    }

    .form-header-title {
        width: 200px;
        margin-bottom: 1rem;
    }

    .from-pryam4 {
        margin-top: 1rem !important;
    }
}
