.footer {
    clip-path: polygon(50% 0, 100% 13%, 100% 100%, 50% 100%, 0 100%, 0 0);
    width: 100%;
    min-height: 550px;
    background-color: #efefef;
}

.footer__location {
    color: #000000;
    font-weight: bold;
}

.footer__contactsTitle {
    font-weight: bold;
}

.footer__contactsText {
    margin-bottom: 0;
}

/*.footer__contactsTitle {*/
/*    font-size: 54px;*/
/*    line-height: 54px;*/
/*    color: #000000;*/
/*    font-weight: 700;*/
/*    padding-top: 5rem;*/
/* }

/*.strongTitle {*/
/*    font-size: 30px;*/
/*    line-height: 43px;*/
/*    color: #000000;*/
/*}*/

.icons {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.icons img {
    margin-right: 0.5rem;
}

.hr {
    width: 100%;
    height: 60px;
    border-top: 1px solid gray;
    background: #ededef;
}

.footer_afterHr {
    font-size: 18px;
    line-height: 43px;
    color: #000000;
    font-weight: 400;
}

.footer-image {
    margin-top: 10rem;
    width: 350px;
}

.footer__location {
    margin-bottom: 3rem;
}

.iconSize {
    position: relative;
    z-index: 9999;
    width: 30px;
}

.footer__link {
    text-decoration: none;
    color: black;
}

@media(max-width: 1367px) {
    .footer__col {
        margin-left: -2rem;
    }
}

@media (max-width: 1025px) {
    .hr {
        width: 100%;
        height: 55px;
        border-top: 1px solid gray;
        background: #ededef;
    }
    .footer {
        min-height: 510px;
    }
    .footer-image {
        margin-top: 10rem;
        width: 350px;
    }
    .footer__col {
        margin-left: -0.9rem;
    }
}
@media(max-width: 824px) {
    .footer__col {
        margin-left: 0.1rem;
    }
}
@media(max-width: 813px) {
    .col.footer__col {
        margin-left: -0.8rem;
    }
    .footer_afterHr {
        margin-left: -2rem;
    }
}
@media (max-width: 769px ) {
    .footer-image {
        margin-top: 6rem;
        width: 263px;
    }

    .footer__location {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .footer {
        min-height: 354px;
    }

    .iconSize {
        width: 24px;
    }
    .col.footer__col {
        margin-left: 0rem;
    }
    .footer_afterHr {
        margin-left: 0rem;
    }
}
@media(max-width: 737px) {
    .col.footer__col {
        margin-left: -4rem;
    }
    .footer_afterHr {
        margin-left: -5rem;
    }
}
@media(max-width: 732px) {
    .col.footer__col {
        margin-left: -4rem;
    }
}
@media(max-width: 678px) {
    .col.footer__col {
        margin-left: -2.5rem;
    }
    .footer_afterHr {
        margin-left: -2.5rem;
    }
}
@media(max-width: 645px) {
    .col.footer__col {
        margin-left: -2rem;
    }
    .footer_afterHr {
        margin-left: 0rem;
    }
}
@media(max-width: 601px) {
    .col.footer__col {
        margin-left: 2rem;
    }
    .footer_afterHr {
        margin-left: 2rem;
    }
}
@media (max-width: 601px) {
    .footer {
        min-height: 218px;
    }
    .footer-image {
        margin-top: 3rem;
        width: 150px;
    }

    .footer__location {
        margin-bottom: 1rem;
        font-size: 0.7rem;
    }

    .footer__contactsTitle {
        font-weight: bold;
        font-size: 1.3rem;
    }

    .iconSize {
        width: 20px;
    }

    .btnForm {
        margin-top: 2.1rem;
        margin-bottom: 2.1rem;
    }
    .icons {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
    }
    .hr {
        height: 43px;
    }
    .col.footer__col {
        margin-left: 0rem;
    }
    .footer_afterHr {
        margin-left: 0rem;
    }
}
@media(max-width: 569px) {
    .col.footer__col {
        margin-left: 2rem;
    }
}
@media(max-width: 429px) {
    .col.footer__col {
        margin-left: 0.3rem;
    }
}
@media(max-width: 426px) {
    .col.footer__col {
        margin-left: 0.2rem;
    }
    .iconSize {
        width: 14px;
    }
}
@media(max-width: 412px) {
    .col.footer__col {
        margin-left: 0rem;
    }
}
@media (max-width: 376px) {
    .footer-image {
        margin-top: 3rem;
        width: 150px;
    }

    .footer {
        min-height: 208px;
    }

    .iconSize {
        width: 17px;
    }
}
@media(max-width: 361px) {
    .ten__contentLeftTitle {
        font-size: 14px;
    }
}
@media (max-width: 326px) {
    .ten__contentLeftTitle {
        font-size: 13px;
    }
    .ten {
        margin-bottom: -61px;
    }

    .footer-image {
        margin-top: 3rem;
        width: 100px;
    }

    .footer__location {
        margin-bottom: 0.5rem;
        font-size: 0.48rem;
    }

    .footer__contactsTitle {
        font-weight: bold;
        font-size: 0.8rem;
    }

    .icons {
        margin-top: 1rem;
    }

    .footer {
        min-height: 176px;
    }

    .iconSize {
        width: 13px;
    }

}
