.header {
    margin-top: 45px;
    height: 50px;
    border-bottom: 1px solid black;
}

.header__logo {
    width: 180px;
    height: 50px;
    margin-bottom: -3px;
    border-bottom: 3px solid white;
    border-left: 14px solid white;
    border-right: 14px solid white;
}

.header__navLeft, .header__navRight {
    margin-top: 10px;
}

.header__link {
    text-decoration: none;
    margin-right: 6rem;
    font-weight: 300;
    color: #000000;
}

.header__link:hover {
    padding-top: 1rem;
    border-top: 2px solid #7b5cdc;
}

.header__navLeft {
}

@media (min-width: 1600px) {
    .header__logo {
        width: 172px;
        height: 52px;
        margin-bottom: -3px;
        border-bottom: 8px solid white;
        border-left: 14px solid white;
        border-right: 14px solid white;
    }
}

@media (max-width: 1441px) {
    .header__logo {
        height: 51px;
    }

    .header__link {
        margin-right: 5.5rem;
    }
}

@media (max-width: 1371px) {
    .header__link {
        margin-right: 4.5rem;
    }
}

@media (max-width: 1025px) {
    .header__link {
        margin-right: 2rem;
        padding-top: 0.5rem !important;
    }

    .header__logo {
        height: 45px;
        margin-top: 0.4rem;
        width: 152px;
        border-bottom: 10px solid white;
    }
}

@media (max-width: 927px) {
    .header__link {
        margin-right: 1.5rem;
        padding-top: 0.5rem !important;
    }
}

@media (max-width: 813px) {
    .header__link {
        margin-right: 1.5rem;
        padding-top: 0.5rem !important;
        font-size: 0.9rem;
    }
}

@media (max-width: 769px) {
    .header {
        margin-top: 30px;
    }

    .header__link {
        margin-right: 2rem;
        font-size: 0.8rem;
        padding-top: 0.4rem !important;
    }

    .header__linkContacts {
        margin-right: 0.5rem !important;
    }

    .header__logo {
        height: 45px;
        margin-top: 0.76rem;
        width: 134px;
        border-bottom: 10px solid white;
    }
}

@media (max-width: 737px) {
    .header__link {
        margin-right: 1rem;
        font-size: 0.7rem;
        padding-top: 0.4rem !important;
    }
}

@media (max-width: 601px) {
    .header__navLeft, .header__navRight {
        padding-left: 0;
    }

    .header__link {
        font-size: 0.6rem;
    }
}


@media(max-width: 499px) {
    .header__link {
        margin-right: 0.4rem;
        font-size: 0.45rem;
        padding-top: 0.4rem !important;
    }
}

@media (max-width: 429px) {
    .header__row {
        margin-right: 0rem !important;
    }

    .header__link {
        font-size: 0.45rem;
        margin-right: 1rem;
        padding-top: 0.3rem !important;
    }

    .header__linkContacts {
        margin-right: 0rem !important;
    }

    .header__navLeft, .header__navRight {
        margin-top: 18px;
    }

    .header__logo {
        width: 85px;
        height: 30px;
        margin-top: 28px;
        margin-bottom: -3px;
        border-bottom: 10px solid white;
        border-left: 14px solid white;
        border-right: 14px solid white;
    }

    .header {
        margin-top: -8px;
    }
}

@media (max-width: 412px) {
    .header__logo {
        margin-top: 26px;
        border-bottom: 13px solid white;
    }
}

@media (max-width: 376px) {
    .header {
        margin-top: -8px;
    }

    .header__link {
        font-size: 0.1rem;
        margin-right: 0.5rem;
        padding-top: 0.2rem !important;
    }
}

@media (max-width: 361px) {
    .header__logo {
        height: 31px;
    }
}

@media (max-width: 320px) {
    .header__logo {
        width: 60px;
        height: 24px;
        margin-top: 13px;
    }

    .header__link {
        font-size: 0.1rem;
        margin-right: 0.4rem;
        padding-top: 0.1rem !important;
    }

    .header__navLeft, .header__navRight {
        margin-top: 2px;
        margin-left: -0.1rem;
    }

    .header {
        margin-top: -6px;
        height: 31px;
    }

    .header__linkContacts {

    }
}
