/*.slick-prev {*/
/*    left: 310px;*/
/*}*/
/*.slick-next {*/
/*    right: 6px;*/
/*}*/
.tableOneIcon1 {
    margin-left: 2rem;
    position: relative;
    z-index: 10;
    width: 844px;
    height: 892px;
    padding-top: 9rem;
}

.tableOneIcon2 {
    margin-left: 2rem;
    position: relative;
    z-index: 11;
    width: 768px;
    height: 892px;
    margin-top: -52rem;
}

.tableOneIcon3 {
    margin-left: 4rem;
    position: relative;
    z-index: 11;
    width: 768px;
    height: 892px;
    margin-top: -57rem;
}

.tableOneIcon4 {
    margin-left: 4rem;
    position: relative;
    z-index: 11;
    width: 768px;
    height: 892px;
    margin-top: -56rem;
    object-fit: contain;
}

.tableOneIconCT {
    margin-left: 4rem;
    position: relative;
    z-index: 11;
    width: 768px;
    height: 892px;
    margin-top: -56rem;
}

.tableOneIconFavvel {
    margin-left: 4rem;
    position: relative;
    z-index: 11;
    width: 768px;
    height: 892px;
    margin-top: -57rem;
}

.tableOneIcon4Slider4 {
    margin-left: 4rem;
    position: relative;
    z-index: 11;
    width: 768px;
    height: 892px;
    margin-top: -56rem;
}

.tableTwoIcon1 {
    position: relative;
    z-index: 10;
    width: 844px;
    height: 892px;
    padding-top: 9rem;
}

.tableTwoIcon2 {
    margin-left: 2rem;
    position: relative;
    z-index: 11;
    width: 768px;
    height: 892px;
    margin-top: -52rem;
}

.tableTwoIcon3 {
    margin-left: 2rem;
    position: relative;
    z-index: 11;
    width: 754px;
    height: 741px;
    margin-top: -52rem;
}

.tableTwoIcon3Slider2 {
    margin-left: 4rem;
    position: relative;
    z-index: 11;
    width: 754px;
    height: 741px;
    margin-top: -52rem;
    object-fit: contain;
}

.tableThreeIcon1 {
    position: relative;
    z-index: 10;
    width: 915px;
    height: 892px;
    padding-top: 9rem;
}

.tableThreeIcon2 {
    margin-left: 2rem;
    position: relative;
    z-index: 11;
    width: 768px;
    height: 787px;
    margin-top: -52rem;
}

.tableThreeIcon3 {
    margin-left: 2rem;
    position: relative;
    z-index: 11;
    width: 853px;
    height: 741px;
    margin-top: -47rem;
}

.slick-dots {
    bottom: -81px !important;
}

.slider-subslider {
    position: absolute;
    z-index: 4;
    height: 900px;
    width: 900px;
}

/* width: 20px;
/*.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {*/
/*    position: relative;*/
/*    z-index: 9999;*/
/*    background-color: black;*/
/*}*/

/*.carousel-indicators li {*/
/*    width: 40px;*/
/*    height: 5px;*/
/*    background-color: gray;*/
/*}*/

.carousel-control-next-icon {
    margin-left: auto;
    width: 3rem;
    height: 3rem;
    background-color: gray;
    margin-right: 1rem;
    z-index: 60;
}

.carousel-control-prev-icon {
    margin-right: auto;
    width: 3rem;
    height: 3rem;
    background-color: gray;
    margin-left: 1rem;
    z-index: 60;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 9999;
}

.bootstrap__table {
    display: grid;
    grid-template-columns: 1.166666667fr 0.833333333fr;
    height: 1150px !important;
    width: 100%;
}

.bootstrap__tableLeft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    z-index: 5;
}

.bootstrap__tableLineOne {
    border-right: 1px solid #ededef;
    border-top: 1px solid #ededef;
}

.borderLeft {
    border-left: 1px solid #ededef;
}

.borderRight {
    border-right: 1px solid #ededef;
}

.bootstrap__tableLineTwo {
    border-right: 1px solid #ededef;
}

.bootstrap__tableLineThree {
    border-right: 1px solid #ededef;
    border-bottom: 1px solid #ededef;
}


.bootstrap__tableRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.icon {
    position: absolute;
    z-index: 8;
    padding-top: 15rem;
    padding-left: 1.7rem;
    opacity: 0.6;
    width: 53rem;
    height: 64.5rem;
}

.icon2 {
    position: absolute;
    z-index: 7;
    padding-top: 15rem;
    width: 100%;
    height: 100%;
}

.icon3 {
    position: absolute;
    z-index: 9;
    margin-top: 10rem;
    margin-left: 5rem;
    width: 45rem;
}

.icon4 {
    position: absolute;
    z-index: 10;
    margin-top: 10rem;
    margin-left: 5rem;
    width: 45rem;
}

.bootstrap__tableRightInfo {
    position: absolute;
    padding-left: 6rem;
    width: 80%;
}

.bootstrap__tableTitle, .bootstrap__tableTitleFirst {
    font-weight: bold;
}

.bootstrap__tableTwoTitle {
    color: #000000;
    font-weight: bold;
}

.bootstrap__tableText {
    color: #000000;
    font-weight: 300;
}


/*BOOTSTRAP TABLE TWO*/


.bootstrap__tableTwo {
    display: grid;
    grid-template-columns: 0.833333333fr 1.166666667fr;
    height: 1150px !important;
    width: 100%;
}

.bootstrap__tableTwoLeft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.bootstrap__tableTwoRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.iconTableTwo {
    position: absolute;
    z-index: 7;
    width: 100%;
    object-fit: contain;
    padding-right: 2rem;
    padding-top: 11rem;
}

.icon2TableTwo {
    position: absolute;
    z-index: 9;
    width: 100%;
    padding-left: 4rem;
    object-fit: contain;
    padding-right: 2rem;
    padding-top: 13.7rem;
}

.icon3TableTwo {
    position: absolute;
    z-index: 9;
    object-fit: contain;
    width: 49rem;
    padding-left: 6.5rem;
    padding-top: 6rem;
}

.bootstrap__tableTwoLeftInfo {
    position: absolute;
    padding-left: 7.6rem;
    width: 90%;
}


/*BOOTSTRAP TABLE THREE*/

.icon2TableThree {
    position: absolute;
    z-index: 8;
    padding-top: 12rem;
    padding-left: 2.5rem;
    opacity: 0.6;
    width: 95%;
}

.iconTableThree {
    position: absolute;
    z-index: 7;
    padding-top: 10rem;
    width: 100%;
}

.icon3TableThree {
    position: absolute;
    z-index: 9;
    margin-left: 2rem;
    padding-top: 14rem;
    width: 53.8rem;
    height: 90%;
}

.icon4TableThree {
    position: absolute;
    z-index: 10;
    margin-left: 2.4rem;
    width: 53rem;
    height: 100%;
}

.bootstrap__tableRightInfo {
    position: absolute;
}


.bootstrap__tableTwoTitle {
    font-weight: bold;
}

.bootstrap__tableText {
}

.bootstrap__marginTop {
    margin-top: 180px;
}

.bootstrap__marginTop40 {
    margin-top: 30px;
}

.bootstrap__tableTwoLeftInfoContent {
    margin-top: 180px;
    margin-bottom: 23px;
}

.bootstrap_tableRightContentTitle {
    margin-top: 180px;
    margin-bottom: 23px;
}

.marginBottom {
    margin-bottom: 90px;
}

@media (min-width: 1600px) {
    .tableTwoIcon1, .tableTwoIcon2 {
        width: 650px;
    }

    .tableTwoIcon3Slider2 {
        width: 670px;
    }
}

@media (max-width: 1367px) {
    .tableOneIcon4 {
        margin-left: 4rem;
        position: relative;
        z-index: 11;
        width: 700px;
        height: 892px;
        margin-top: -56rem;
        object-fit: contain;
    }

    .tableTwoIcon3Slider2 {
        margin-left: 4rem;
        position: relative;
        z-index: 11;
        width: 693px;
        height: 741px;
        margin-top: -52rem;
        object-fit: contain;
    }

    .tableTwoIcon2 {
        margin-left: 2rem;
        position: relative;
        z-index: 11;
        width: 702px;
        height: 892px;
        margin-top: -52rem;
    }

    .tableTwoIcon1 {
        position: relative;
        z-index: 10;
        width: 784px;
        height: 892px;
        padding-top: 9rem;
    }
}

@media (max-width: 1025px) {
    .bootstrap__table {
        height: 830px !important;
    }

    .bootstrap__tableTwo {
        height: 683px !important;
    }

    .icon4 {
        position: absolute;
        z-index: 10;
        margin-top: 10rem;
        margin-left: 4rem;
        width: 30rem;
    }

    .icon3 {
        margin-top: 10rem;
        margin-left: 4rem;
        width: 30rem;
    }

    .icon {
        padding-top: 15rem;
        padding-left: 1.7rem;
        opacity: 0.6;
        width: 34rem;
        height: 43rem;
    }

    .icon2 {
        height: 70%;
    }

    .bootstrap__tableTitleFirst {
        font-size: 1.8rem !important;
    }

    .bootstrap__tableTitle, .bootstrap__marginTop {
        font-size: 1.6rem;
    }

    .bootstrap__tableText {
        font-size: 0.9rem;
    }

    .bootstrap__tableTwoTitle {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .icon3TableTwo {
        width: 37rem;
        padding-right: 3rem;
        padding-left: 4.1rem;
    }

    .icon2TableTwo {
        width: 38rem;
        height: 100%;
        padding-left: 2rem;
        object-fit: contain;
        padding-right: 2rem;
        padding-top: 0rem;
        padding-bottom: 6rem;
    }

    .icon2TableTwo {
        width: 37rem;
        height: 101%;
        padding-left: 0rem;
        object-fit: contain;
        padding-right: 1rem;
        padding-top: -1rem;
        padding-bottom: 4rem;
        margin-top: 7rem;
    }


    .bootstrap__tableTwoLeftInfo {
        padding-left: 4rem;
    }

    .bootstrap__tableTwoLeftInfoContent {
        margin-top: 16px;
        margin-bottom: 5px;
    }

    .icon4TableThree {
        position: absolute;
        z-index: 10;
        margin-left: 2rem;
        width: 37rem;
        height: 100%;
    }

    .icon2TableThree {
        position: absolute;
        z-index: 8;
        padding-top: 9rem;
        padding-left: 2rem;
        opacity: 0.6;
        width: 100%;
    }

    .icon4TableThree {
        position: absolute;
        z-index: 10;
        margin-left: 2rem;
        width: 37rem;
        height: 100%;
    }

    .marginBottom {
        margin-bottom: 42px;
    }

    .bootstrap__tableRightInfo {
        padding-left: 3rem;
    }

    .bootstrap__tableTwo {
        height: 500px;
    }

    .tableTwoIcon1 {
        position: relative;
        z-index: 10;
        width: 552px;
        height: 643px;
        padding-top: 1rem;
    }

    .tableOneIcon4 {
        position: relative;
        z-index: 11;
        width: 766px;
        height: 721px;
        padding-top: 10rem;
        padding-right: 18.8rem;
        margin-top: -47rem;
        padding-left: -4.1rem;
    }

    .tableOneIcon3 {
        margin-left: 4rem;
        position: relative;
        z-index: 11;
        width: 470px;
        height: 892px;
        margin-top: -49rem;
    }


    .tableOneIcon4Slider2 {
        position: relative;
        z-index: 11;
        width: 766px;
        height: 721px;
        padding-top: 11rem;
        padding-right: 18.8rem;
        margin-top: -48rem;
        padding-left: -4.1rem;
        margin-left: 4rem;
    }

    .tableOneIcon2 {
        margin-left: 1.5rem;
        position: relative;
        z-index: 10;
        width: 545px;
        height: 816px;
        padding-top: 17rem;
    }

    .tableOneIcon1 {
        margin-left: 2rem;
        position: relative;
        z-index: 10;
        width: 593px;
        height: 658px;
        padding-top: 6rem;
    }

    img#iconLEAMUM {
        position: relative;
        z-index: 11;
        width: 312px;
        height: 546px;
        margin-top: -38rem;
        margin-left: 9rem;
    }

    .carousel-control-prev-icon {
        margin-right: auto;
        width: 2rem;
        height: 2rem;
        background-color: gray;
        margin-left: 1rem;
        z-index: 60;
    }

    .carousel-control-next-icon {
        margin-left: auto;
        width: 2rem;
        height: 2rem;
        background-color: gray;
        margin-right: 1rem;
        z-index: 60;
    }

    .slick-dots {
        bottom: 224px !important;
        right: 132px;
    }

    .bootstrap__marginTop {
        margin-top: 96px;
    }

    .bootstrap__marginTop40 {
        margin-top: 15px;
    }

    .bootstrap__tableText {
        font-size: 0.8rem;
    }

    .tableTwoIcon1 {
        position: relative;
        z-index: 10;
        width: 552px;
        height: 677px;
        padding-top: 1rem;
    }

    .tableTwoIcon2 {
        margin-left: 2rem;
        position: relative;
        z-index: 11;
        width: 552px;
        height: 700px;
        margin-top: -45rem;
    }

    .tableTwoIcon3 {
        margin-left: 4rem;
        position: relative;
        z-index: 11;
        width: 500px;
        height: 700px;
        margin-top: -46rem;
    }

    .tableTwoIcon3Slider2 {
        margin-left: 4rem;
        position: relative;
        z-index: 11;
        width: 511px;
        height: 990px;
        margin-top: -53rem;
        object-fit: contain;
    }

    .tableThreeIcon1 {
        position: relative;
        z-index: 10;
        width: 642px;
        height: 642px;
        padding-top: 9rem;
    }

    .tableThreeIcon2 {
        margin-left: 2rem;
        position: relative;
        z-index: 11;
        width: 522px;
        height: 963px;
        margin-top: -49rem;
    }

    .tableThreeIcon3 {
        margin-left: 2rem;
        position: relative;
        z-index: 11;
        width: 566px;
        height: 597px;
        margin-top: -47rem;
    }

}

@media (max-width: 813px) {
    .tableOneIcon4 {
        position: relative;
        z-index: 11;
        width: 677px;
        height: 775px;
        padding-top: 10rem;
        padding-right: 18.8rem;
        margin-top: -47rem;
        padding-left: -4.1rem;
    }

    .tableOneIcon2 {
        margin-left: 1.5rem;
        position: relative;
        z-index: 10;
        width: 446px;
        height: 816px;
        padding-top: 17rem;
    }

    .tableOneIcon1 {
        margin-left: 2rem;
        position: relative;
        z-index: 10;
        width: 488px;
        height: 535px;
        padding-top: 0rem;
    }

    .tableTwoIcon1 {
        position: relative;
        z-index: 10;
        width: 552px;
        height: 642px;
        padding-top: 8rem;
    }

    .tableTwoIcon3Slider2 {
        margin-left: 4rem;
        position: relative;
        z-index: 11;
        width: 408px;
        height: 990px;
        margin-top: -50rem;
        object-fit: contain;
    }

    img#iconLEAMUM {
        margin-left: 4rem;
        position: relative;
        z-index: 11;
        width: 232px;
        height: 990px;
        margin-top: -50rem;
        object-fit: contain;
    }

}

@media (max-width: 845px) {

    .bootstrap__table {
        height: 609px !important;
    }

    .bootstrap__tableTwo {
        height: 510px !important;
    }

    .carousel-control-prev-icon {
        margin-right: auto;
        width: 1.3rem;
        height: 1.3rem;
        background-color: gray;
        margin-left: 1rem;
        z-index: 60;
    }

    .carousel-control-next-icon {
        margin-left: auto;
        width: 1.3rem;
        height: 1.3rem;
        background-color: gray;
        margin-right: 1rem;
        z-index: 60;
    }

    .bootstrap__tableTwo {
        height: 367px;
    }

    .bootstrap__marginTop {
        margin-top: 85px;
    }

    .icon4 {
        position: absolute;
        z-index: 10;
        margin-top: 4rem;
        margin-left: 4rem;
        width: 25rem;
    }

    .icon3 {
        margin-top: 4rem;
        margin-left: 4rem;
        width: 25rem;
    }

    .icon {
        padding-top: 0rem;
        padding-left: 1.7rem;
        opacity: 0.6;
        width: 33rem;
        height: 37rem;
        border: 1px solid red !important;
    }

    .icon2 {
        position: absolute;
        z-index: 7;
        padding-top: 6rem;
        width: 33rem;
        height: 37rem;
    }

    .bootstrap__tableText {
        font-size: 0.9rem;
    }

    .bootstrap__tableTwoTitle {
        font-weight: bold;
        font-size: 1rem;
    }

    h1.bootstrap__tableTitle.bootstrap__marginTop {
        font-size: 1.3rem;
    }

    .icon3TableTwo {
        width: 28rem;
        padding-right: 3rem;
        padding-left: 3.1rem;
    }

    .icon2TableTwo {
        width: 27rem;
        height: 73%;
        /* padding-left: 1rem; */
        object-fit: contain;
        padding-right: 1rem;
        padding-top: 0rem;
        padding-bottom: 6rem;
    }

    .iconTableTwo {
        position: absolute;
        z-index: 7;
        width: 100%;
        object-fit: contain;
        padding-right: 2rem;
        padding-top: 5rem;
    }

    .bootstrap__tableTwoLeftInfo {
        padding-left: 3.6rem;
    }

    .bootstrap__tableTitleFirst {
        font-size: 1.3rem !important;
    }

    .bootstrap__tableTitle {
        font-size: 1.2rem;
    }

    .icon2TableThree {
        position: absolute;
        z-index: 8;
        padding-top: 10rem;
        padding-left: 2rem;
        opacity: 0.6;
        width: 100%;
    }

    .icon4TableThree {
        width: 26rem;
    }

    .icon2TableThree {
        position: absolute;
        z-index: 8;
        padding-top: 5rem;
        padding-left: 2rem;
        opacity: 0.6;
        width: 100%;
        height: 90%;
    }

    .bootstrap__tableRightInfo {
        position: absolute;
        padding-left: 3rem;
    }

    .iconTableThree {
        padding-top: 7rem !important;
    }

    .tableOneIcon1 {
        margin-left: 2rem;
        position: relative;
        z-index: 10;
        width: 420px;
        height: 467px;
        padding-top: 6rem;
    }

    .tableOneIcon2 {
        margin-left: 1rem;
        position: relative;
        z-index: 10;
        width: 400px;
        height: 830px;
        padding-top: 27rem;
    }

    .tableOneIcon3 {
        margin-left: 2rem;
        position: relative;
        z-index: 11;
        width: 376px;
        height: 892px;
        margin-top: -39rem;
    }

    .tableOneIcon4 {
        margin-left: 2.3rem;
        position: relative;
        z-index: 11;
        width: 691px;
        height: 616px;
        margin-top: -38.5rem;
    }

    .marginBottom {
        margin-bottom: 18px;
    }

    .bootstrap__tableText {
        font-size: 10px !important;
    }

    .slick-dots {
        bottom: 43% !important;
        right: 24%;
    }

    .slick-dots li {
        width: 15px;
        height: 15px;
        margin: 0;
        padding: 0;
    }

    .tableTwoIcon1 {
        position: relative;
        z-index: 10;
        width: 400px;
        height: 523px;
        margin-top: -5rem;
    }

    .tableTwoIcon2 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 398px;
        height: 650px;
        margin-top: -34rem;
    }

    .tableTwoIcon3 {
        margin-left: -5rem;
        position: relative;
        z-index: 11;
        width: 600px;
        height: 400px;
        margin-top: -34rem;
    }


    .tableTwoIcon3Slider2 {
        margin-left: 3rem;
        position: relative;
        z-index: 11;
        width: 361px;
        height: 472px;
        margin-top: -34rem;
        object-fit: contain;
    }

    .tableThreeIcon1 {
        position: relative;
        z-index: 10;
        width: 483px;
        height: 505px;
        padding-top: 9rem;
    }

    .tableThreeIcon2 {
        margin-left: 2rem;
        position: relative;
        z-index: 11;
        width: 388px;
        height: 710px;
        margin-top: -36rem;
    }

    .tableThreeIcon3 {
        margin-left: 2rem;
        position: relative;
        z-index: 11;
        width: 425px;
        height: 846px;
        margin-top: -47rem;
    }

    .bootstrap__tableThree {
        margin-top: 2rem;
    }
}

@media (max-width: 668px) {
    .bootstrap__tableTwo {
        height: 594px !important;
    }

    .bootstrap__tableThree {
        margin-top: 0rem;
    }

    .tableTwoIcon3Slider2 {
        width: 325px;
    }

    .tableOneIcon4 {
        width: 630px;
    }

    .tableTwoIcon2, .tableTwoIcon1 {
        width: 370px;
    }

    .tableTwoIcon3Slider2 {
        margin-left: 3rem;
        position: relative;
        z-index: 11;
        width: 322px;
        height: 586px;
        margin-top: -37rem;
        object-fit: contain;
    }

    img#iconLEAMUM {
        margin-left: 4rem;
        position: relative;
        z-index: 11;
        width: 209px;
        height: 500px;
        margin-top: -35rem;
        object-fit: contain;
    }
}

@media (max-width: 641px) {
    .tableOneIcon2 {
        margin-left: 1rem;
        position: relative;
        z-index: 10;
        width: 375px;
        height: 830px;
        padding-top: 27rem;
    }

    .tableOneIcon1 {
        margin-left: 2rem;
        position: relative;
        z-index: 10;
        width: 392px;
        height: 467px;
        padding-top: 6rem;
    }
}

@media (max-width: 601px) {
    .bootstrap__table {
        height: 326px !important;
    }

    .bootstrap__tableTwo {
        height: 461px !important;
    }

    .bootstrap__tableThree {
        margin-top: 0rem;
    }

    .bootstrap__tableTwoLeftInfo {
        padding-left: 2.6rem;
    }

    .icon3TableTwo {
        width: 15.5rem;
        padding-left: 1.7rem;
        padding-right: 2rem;
    }


    .iconTableTwo {
        position: absolute;
        z-index: 7;
        width: 15rem;
        object-fit: contain;
        /* padding-right: 2rem; */
        padding-top: 1rem;
    }

    .icon2TableTwo {
        width: 14.9rem;
        height: 16rem;
        object-fit: contain;
        padding-right: 6rem;
        padding-top: 0rem;
        padding-bottom: 6rem;
        margin-top: 2rem;
    }

    .icon4 {
        margin-top: 4rem;
        margin-left: 1rem;
        width: 14.6rem;
    }

    .icon3 {
        margin-top: 4rem;
        margin-left: 1rem;
        width: 14.6rem;
    }

    .icon {
        padding-top: 0rem;
        padding-left: 0.4rem;
        opacity: 0.6;
        width: 16.4rem;
        height: 28rem;
    }

    .icon2 {
        position: absolute;
        z-index: 7;
        padding-top: 6rem;
        width: 17rem;
        height: 23rem;
    }

    .bootstrap__tableTitleFirst {
        font-size: 0.8rem !important;
    }

    .bootstrap__tableTitle {
        font-size: 0.65rem !important;
    }

    .bootstrap__tableText {
        font-size: 0.3rem !important;
    }

    .bootstrap__tableTwoTitle {
        font-weight: bold;
        font-size: 0.6rem !important;
    }

    h1.bootstrap__tableTitle.bootstrap__marginTop {
        font-size: 1.5rem;
    }

    .bootstrap__tableRightInfo {
        padding-left: 3rem;
    }

    .bootstrap__marginTop {
        margin-top: 37px;
    }

    .bootstrap__tableTwoLeftInfoContent {
        margin-top: 35px;
    }

    .bootstrap__tableTwo {
        height: 302px;
    }

    .icon4TableThree {
        width: 15rem;
        margin-left: 0.5rem;
    }

    .icon2TableThree {
        position: absolute;
        z-index: 8;
        padding-top: 2rem;
        padding-left: 0.6rem;
        opacity: 0.6;
        width: 100%;
        height: 90%;
    }

    .iconTableThree {
        position: absolute;
        z-index: 7;
        width: 100%;
    }

    .bootstrap__tableRightInfo {
        padding-left: 1rem;
    }

    .bootstrap_tableRightContentTitle {
        margin-top: 78px;
        margin-bottom: 14px;
    }

    .ten__yog {
        position: absolute;
        height: 157px;
        object-fit: contain;
        width: 190px !important;
        margin-left: 12rem;
        margin-top: 14.5rem;
        animation: tenyog425 1s infinite !important;
    }

    .iconTableThree {
        padding-top: 4rem !important;
    }

    .tableOneIcon1 {
        margin-left: 1rem;
        position: relative;
        z-index: 10;
        width: 228px;
        height: 346px;
        padding-top: 3rem;
    }

    .tableOneIcon2 {
        margin-left: 1rem;
        position: relative;
        z-index: 10;
        width: 227px;
        height: 731px;
        padding-top: 34rem;
        padding-bottom: -1rem;
    }

    .tableOneIcon3 {
        margin-left: -3rem;
        position: relative;
        z-index: 11;
        width: 376px;
        height: 300px;
        margin-top: -19rem;
        padding-top: 3rem;
    }

    .tableOneIcon4 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 525px;
        height: 278px;
        margin-top: -16.5rem;
        padding-top: 3.2rem;
        /* background-size: 100%; */
        object-fit: contain;
    }

    img#tableOneIcon425 {
        margin-left: 2rem;
        position: relative;
        z-index: 11;
        width: 497px;
        height: 279px;
        margin-top: -17.5rem;
        padding-top: 7.2rem;
        /* background-size: 100%; */
        object-fit: contain;
    }

    .bootstrap__marginTop {
        margin-top: 47px;
    }

    .slick-dots {
        top: 291px;
        right: 311px;
    }

    .slick-dots li {
        width: 10px;
        height: 10px;
    }

    .slick-dots li button:before {
        font-size: 5px;
    }

    .carousel-control-prev-icon {
        margin-right: auto;
        width: 1rem;
        height: 1rem;
        background-color: gray;
        margin-left: 0.3rem;
        z-index: 60;
    }

    .carousel-control-next-icon {
        margin-left: auto;
        width: 1rem;
        height: 1rem;
        background-color: gray;
        margin-right: 0.3rem;
        z-index: 60;
    }

    .tableTwoIcon1 {
        position: relative;
        z-index: 10;
        width: 252px;
        height: 374px;
        margin-top: -5rem;
    }

    .tableTwoIcon2 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 222px;
        height: 532px;
        margin-top: -24.5rem;
    }

    .tableTwoIcon3 {
        margin-left: -5rem;
        position: relative;
        z-index: 11;
        width: 413px;
        height: 224px;
        margin-top: -25rem;
    }

    .tableTwoIcon3Slider2 {
        margin-left: 2rem;
        position: relative;
        z-index: 11;
        width: 195px;
        height: 778px;
        margin-top: -41rem;
        object-fit: contain;
    }


    .tableThreeIcon1 {
        position: relative;
        z-index: 10;
        width: 269px;
        height: 283px;
        padding-top: 4rem;
    }

    .tableThreeIcon2 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 217px;
        height: 817px;
        margin-top: -34rem;
    }

    .tableThreeIcon3 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 231px;
        height: 846px;
        margin-top: -51.5rem;
    }
}

@media(max-width: 569px) {
    img#iconLEAMUM {
        margin-left: 4rem;
        position: relative;
        z-index: 11;
        width: 113px;
        height: 454px;
        margin-top: -31rem;
        object-fit: contain;
    }
}

@media (max-width: 429px) {
    img#iconLEAMUM {
        margin-left: 3rem;
        position: relative;
        z-index: 11;
        width: 124px;
        height: 500px;
        margin-top: -32rem;
        object-fit: contain;
    }

    .tableTwoIcon1 {
        position: relative;
        z-index: 10;
        width: 240px;
        height: 374px;
        margin-top: -5rem;
    }

    .slick-dots {
        top: 291px;
        right: 327px;
    }
}

@media (max-width: 376px) {
    .bootstrap__table {
        height: 347px !important;
    }

    .bootstrap__tableThree {
        margin-top: -4rem;
    }

    .icon3TableTwo, .icon2TableTwo, .iconTableTwo {
        width: 13.7rem;
    }

    .icon3, .icon4 {
        width: 12.6rem;
    }

    .icon2 {
        position: relative;
        z-index: 7;
        padding-top: 6rem;
        width: 10rem;
        height: 25rem;
    }

    .icon {
        position: absolute;
        z-index: 8;
        padding-top: 15rem;
        opacity: 0.6;
        width: 42rem;
        height: 45.5rem;
    }
    .bootstrap__tableTitleFirst {
        font-size: 0.7rem !important;
    }

    .bootstrap__tableTitle {
        font-size: 0.6rem !important;
        font-weight: bold;
        margin-bottom: 0.6rem !important;
    }

    .bootstrap__tableTwoTitle {
        font-weight: bold;
        font-size: 0.5rem !important;
    }

    .bootstrap__tableTwoLeftInfo {
        padding-left: 1.3rem;
    }

    .bootstrap__tableText {
        margin-bottom: 9px !important;
    }

    .icon2TableThree {
        width: 96%;
    }

    .icon4TableThree {
        width: 13rem;
        margin-left: 0.5rem;
    }

    .iconTableThree {
        position: absolute;
        z-index: 7;
        padding-top: 5.5rem !important;
        width: 100%;
    }

    .bootstrap__tableOne {
        margin-bottom: -2rem;
    }

    .bootstrap__tableTwo {
        margin-bottom: -7rem;
    }

    .tableOneIcon1 {
        margin-left: 0.2rem;
        position: relative;
        z-index: 10;
        width: 225px;
        height: 288px;
        padding-top: 4rem;
    }

    .tableOneIcon2 {
        margin-left: 0.7rem;
        position: relative;
        z-index: 10;
        width: 190px;
        height: 765px;
        padding-top: 28rem;
        padding-bottom: -1rem;
        margin-top: -46rem;
    }

    .tableOneIcon3 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 213px;
        height: 300px;
        margin-top: -19rem;
        padding-top: 3rem;
    }

    .tableOneIcon4 {
        margin-left: 1.2rem;
        position: relative;
        z-index: 9999;
        width: 482px;
        height: 302px;
        margin-top: -20.8rem;
        padding-top: 3rem;
    }

    img#tableOneIcon425 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 497px;
        height: 279px;
        margin-top: -21.5rem;
        padding-top: 7.2rem;
        /* background-size: 100%; */
        object-fit: contain;
    }

    img#iconLEAMUM {
        margin-left: 2rem;
        position: relative;
        z-index: 11;
        width: 120px;
        height: 494px;
        margin-top: -28rem;
        object-fit: contain;
    }

    .slick-dots {
        top: 273px;
        right: 333px;
    }

    .tableTwoIcon3 {
        margin-left: -5rem;
        position: relative;
        z-index: 11;
        width: 374px;
        height: 207px;
        margin-top: -19rem;
    }

    .tableTwoIcon2 {
        margin-left: 0.5rem;
        position: relative;
        z-index: 11;
        width: 193px;
        height: 415px;
        margin-top: -21.5rem;
        padding-top: -27rem;
    }

    .tableTwoIcon1 {
        position: relative;
        z-index: 10;
        width: 214px;
        height: 374px;
        margin-top: -5rem;
    }

    .tableTwoIcon3Slider2 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 195px;
        height: 778px;
        margin-top: -37rem;
        object-fit: contain;
    }

    .tableThreeIcon1 {
        position: relative;
        z-index: 10;
        width: 238px;
        height: 282px;
        padding-top: 5rem;
    }

    .tableThreeIcon2 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 191px;
        height: 838px;
        margin-top: -34rem;
    }

    .tableThreeIcon3 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 209px;
        height: 832px;
        margin-top: -51.5rem;
    }
}

@media (max-width: 321px) {
    .bootstrap__table {
        height: 321px !important;
    }

    .bootstrap__tableTwo {
        height: 414px !important;
    }

    .bootstrap__tableThree {
        margin-top: 0rem;
    }

    .icon4, .icon3 {
        margin-top: 3rem;
        margin-left: 1rem;
        width: 11.6rem;
    }

    .icon2 {
        position: absolute;
        z-index: 7;
        padding-top: 4rem;
        width: 14rem;
        height: 18.5rem;
    }

    .icon {
        padding-top: 0rem;
        padding-left: 0.4rem;
        opacity: 0.6;
        width: 13.4rem;
        height: 21rem;
    }

    .bootstrap__tableText {
        margin-bottom: 20px !important;
    }

    .bootstrap__marginTop {
        margin-top: 41px;
    }

    .bootstrap__marginTop40 {
        margin-top: 7px;
    }

    .bootstrap__tableTwoTitle {
        font-weight: bold;
        font-size: 0.4rem !important;
    }

    .icon3TableTwo {
        width: 11.6rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }

    .icon2TableTwo {
        width: 11rem;
        padding-top: -5rem;
        margin-top: -1.2rem;
        margin-left: 7px;
    }

    .iconTableTwo {
        position: absolute;
        z-index: 7;
        width: 11.5rem;
        object-fit: contain;
        /* padding-right: 2rem; */
        /* padding-top: 1rem; */
        height: 10rem;
    }

    .icon4TableThree {
        width: 11rem;
        margin-left: 0.5rem;
    }

    .bootstrap__tableOne {
        margin-bottom: 0rem;
    }

    .iconTableThree {
        padding-top: 5rem !important;
    }

    .tableOneIcon1 {
        margin-left: 0.2rem;
        position: relative;
        z-index: 10;
        width: 199px;
        height: 269px;
        padding-top: 3rem;
    }

    .tableOneIcon2 {
        margin-left: 0.7rem;
        position: relative;
        z-index: 10;
        width: 170px;
        height: 773px;
        padding-top: 21rem;
        padding-bottom: -1rem;
        margin-top: -43rem;
    }

    .tableOneIcon3 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 177px;
        height: 436px;
        margin-top: -20rem;
        padding-top: 3rem;
    }

    .tableOneIcon4 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 459px;
        height: 456px;
        margin-top: -27.7rem;
        padding-top: 0rem;
    }

    img#tableOneIcon425 {
        margin-left: 0.2rem;
        position: relative;
        z-index: 11;
        width: 497px;
        height: 279px;
        margin-top: -25.5rem;
        padding-top: 8.2rem;
        /* background-size: 100%; */
        object-fit: contain;
    }

    .bootstrap__tableRightInfo {
        padding-left: 1rem;
    }

    .bootstrap__tableText {
        font-size: 0.1rem !important;
    }

    .tableTwoIcon1 {
        position: relative;
        z-index: 10;
        width: 183px;
        height: 356px;
        margin-top: -5rem;
    }

    .tableTwoIcon2 {
        margin-left: 0.5rem;
        position: relative;
        z-index: 11;
        width: 166px;
        height: 438px;
        margin-top: -21.5rem;
        padding-top: -27rem;
    }

    .tableTwoIcon3 {
        margin-left: -5rem;
        position: relative;
        z-index: 11;
        width: 341px;
        height: 175px;
        margin-top: -18rem;
    }

    .tableTwoIcon3Slider2 {
        margin-left: 1rem;
        position: relative;
        z-index: 11;
        width: 153px;
        height: 753px;
        margin-top: -37rem;
        object-fit: contain;
    }

    .tableThreeIcon1 {
        position: relative;
        z-index: 10;
        width: 209px;
        height: 301px;
        padding-top: 8rem;
    }

    .tableThreeIcon2 {
        margin-left: 0.5rem;
        position: relative;
        z-index: 11;
        width: 167px;
        height: 823px;
        margin-top: -33rem;
    }

    .tableThreeIcon3 {
        margin-left: 0.5rem;
        position: relative;
        z-index: 11;
        width: 186px;
        height: 832px;
        margin-top: -50.5rem;
    }

    .slick-dots {
        top: 28%;
        right: 348px;
    }
}
