.ten {
    position: relative;
    z-index: -1;
    min-height: 900px;
    width: 100%;
    margin-bottom: -235px;
}

.tenSloy {
    position: relative;
    z-index: 1;
    min-height: 900px;
    clip-path: polygon(50% 13%, 100% 0, 100% 61%, 50% 74%, 0 74%, 0 13%);
    background: #4200ff;

    width: 100%;
}

.ten__img {
    position: absolute;
    z-index: 2;
    width: 100%;
    min-height: 742px;
}

.ten__content {
    position: absolute;
    z-index: 3;
    width: 100%;
}

.ten__contentLeftTitle {
    padding-top: 16rem;
    padding-left: 6rem;
    color: #ffffff;
    font-weight: bold;
}

.ten__yog {
    position: absolute;
    height: 585px;
    object-fit: contain;
    width: 570px;
    margin-left: 48rem;
    margin-top: 5rem;
    -webkit-animation: tenyog 1.2s infinite;
    animation: tenyog 1.2s infinite;
}

@-webkit-keyframes tenyog {
    0% {
        margin-top: 5rem;
    }
    50% {
        margin-top: 5.7rem;
    }
    100% {
        margin-top: 5rem;
    }
}

@keyframes tenyog {
    0% {
        margin-top: 5rem;
    }
    50% {
        margin-top: 5.7rem;
    }
    100% {
        margin-top: 5rem;
    }
}

.ellipse {
    position: absolute;
    z-index: 9999;
    background-color: #3f00fd;
    width: 123px;
    height: 30px;
    opacity: 0.3;
    border-radius: 110px / 30px;
    margin-top: -15rem;
    margin-left: 62rem;
    /*-webkit-animation: tenellipse 1.2s infinite;*/
    /*animation: tenellipse 1.2s infinite;*/
}

/*@-webkit-keyframes tenellipse{*/
/*    0% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*    50% {*/
/*        margin-top: -15.5rem;*/
/*    }*/
/*    100% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*}*/

/*@keyframes tenellipse{*/
/*    0% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*    50% {*/
/*        margin-top: -15.5rem;*/
/*    }*/
/*    100% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*}*/
@media (min-width: 1600px) {
    .ten__ROW {
        max-width: 1536px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }

    .ten__content {
        max-width: 1496px;
    }

    .ten__yog {
        height: 554px;
        margin-left: 50%;
        margin-top: 2rem;
    }

    .ellipse {
        margin-left: 62%;
    }
}

@media (max-width: 1371px) {
    .ten__contentLeftTitle {
        padding-top: 20rem;
        padding-left: 6rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 3.7rem;
    }
}

@media (max-width: 1025px) {
    .ten {
        margin-bottom: -131px;
    }

    .ten__contentLeftTitle {
        padding-top: 10.5rem;
        padding-left: 2rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 45px;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 505px;
    }

    .ten__yog {
        position: absolute;
        height: 329px;
        object-fit: contain;
        width: 540px;
        margin-left: 30rem;
        animation: tenyog1024 2s infinite !important;
    }

    .ellipse {
        margin-top: -9rem;
        margin-left: 43.5rem;
        animation: tenellipse1024 2s infinite !important;
    }

    /*@-webkit-keyframes tenellipse1024{*/
    /*    0% {*/
    /*        margin-top: -10.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -10rem*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -10.5rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse1024{*/
    /*    0% {*/
    /*        margin-top: -10.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -10rem*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -10.5rem;*/
    /*    }*/
    /*}*/
    @-webkit-keyframes tenyog1024 {
        0% {
            margin-top: 2rem;
        }
        50% {
            margin-top: 2.5rem;
        }
        100% {
            margin-top: 2rem;
        }
    }

    @keyframes tenyog1024 {
        0% {
            margin-top: 2rem;
        }
        50% {
            margin-top: 2.5rem;
        }
        100% {
            margin-top: 2rem;
        }
    }
}


@media (max-width: 927px) {
    .ten {
        margin-bottom: -96px;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 372px;
    }

    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 449px;
        margin-left: 21rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 33rem;
        margin-top: -6.5rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }

    .ten__contentLeftTitle {
        padding-top: 8rem;
        padding-left: 4rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 38px;
    }

    /*@-webkit-keyframes tenellipse768{*/
    /*    0% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -9rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse768{*/
    /*    0% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -9rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*}*/
    @-webkit-keyframes tenyog768 {
        0% {
            margin-top: 2rem;
        }
        50% {
            margin-top: 2.7rem;
        }
        100% {
            margin-top: 2rem;
        }
    }

    @keyframes tenyog768 {
        0% {
            margin-top: 2rem;
        }
        50% {
            margin-top: 2.7rem;
        }
        100% {
            margin-top: 2rem;
        }
    }
}


@media (max-width: 845px) {
    .ten {
        margin-bottom: -96px;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 372px;
    }

    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 449px;
        margin-left: 19rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 31rem;
        margin-top: -6.5rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }

    .ten__contentLeftTitle {
        padding-top: 8rem;
        padding-left: 4rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 32px;
    }

    /*@-webkit-keyframes tenellipse768{*/
    /*    0% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -9rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse768{*/
    /*    0% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -9rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*}*/
    @-webkit-keyframes tenyog768 {
        0% {
            margin-top: 2rem;
        }
        50% {
            margin-top: 2.7rem;
        }
        100% {
            margin-top: 2rem;
        }
    }

    @keyframes tenyog768 {
        0% {
            margin-top: 2rem;
        }
        50% {
            margin-top: 2.7rem;
        }
        100% {
            margin-top: 2rem;
        }
    }
}

@media (max-width: 813px) {
    .ten__contentLeftTitle {
        padding-top: 8rem;
        padding-left: 3rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 32px;
    }
}

@media (max-width: 736px) {
    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 449px;
        margin-left: 17rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 28.5rem;
        margin-top: -6.5rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }

    .ten__contentLeftTitle {
        font-size: 29px;
    }
}

@media (max-width: 668px) {
    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 449px;
        margin-left: 13rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 24.5rem;
        margin-top: -6.5rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }

    .ten__contentLeftTitle {
        padding-top: 8rem;
        padding-left: 2rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 29px;
    }
}

@media (max-width: 641px) {
    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 418px;
        margin-left: 13rem;
        animation: tenyog768 2s infinite !important;
    }

    .ten__contentLeftTitle {
        padding-top: 8rem;
        padding-left: 4rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 24px;
    }
}

@media (max-width: 601px) {
    .ten, .tenSloy, .ten__img {
        min-height: 321px;
    }

    .ten__contentLeftTitle {
        padding-top: 7rem;
        padding-left: 3rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 22px;
    }

    .ten__yog {
        position: absolute;
        height: 190px;
        object-fit: contain;
        width: 449px;
        margin-left: 19rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 22.5rem;
        margin-top: -5.5rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }

    .ten {
        margin-bottom: -84px;
    }
}

@media (max-width: 480px) {
    .ellipse {
        margin-left: 18.5rem;
    }

    .ten__yog {
        margin-left: 15rem;
    }
}

@media (max-width: 429px) {
    .ten {
        margin-bottom: -57px;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 217px;
    }

    .ten__yog {
        position: absolute;
        height: 125px;
        object-fit: contain;
        width: 190px !important;
        margin-left: 12rem;
        margin-top: 2.5rem;
        animation: tenyog425 2s infinite !important;
    }

    .ellipse {
        margin-left: 16.8rem !important;
        margin-top: -3.8rem;
        width: 39px;
        height: 11px;
        /* animation: tenellipse425 2s infinite!important; */
    }

    .ten__contentLeftTitle {
        padding-top: 4.5rem;
        padding-left: 1rem;
        font-size: 17px;
    }

    /*@-webkit-keyframes tenellipse425{*/
    /*    0% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -5.1rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse425{*/
    /*    0% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -5.1rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*}*/
    @-webkit-keyframes tenyog425 {
        0% {
            margin-top: 1.5rem;
        }
        50% {
            margin-top: 2.1rem;
        }
        100% {
            margin-top: 1.5rem;
        }
    }

    @keyframes tenyog425 {
        0% {
            margin-top: 1.5rem;
        }
        50% {
            margin-top: 2.1rem;
        }
        100% {
            margin-top: 1.5rem;
        }
    }

}

@media (max-width: 391px) {
    .ten__contentLeftTitle {
        padding-top: 4.5rem;
        padding-left: 1rem;
        font-size: 15px;
    }

    .ten__yog {
        margin-left: 10rem;
    }

    .ellipse {
        margin-left: 14.8rem !important;
    }
}

@media (max-width: 376px) {
    .ten {
        margin-bottom: -49px;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 192px;
    }

    .formRequest {
        width: 100%;
        margin-top: 1rem;
    }

    .ten__yog {
        position: absolute;
        height: 121px;
        object-fit: contain;
        width: 222px;
        margin-left: 10rem;
        margin-top: 2.5rem;
        animation: tenyog375 1s infinite !important;
    }

    .ellipse {
        margin-left: 14.8rem !important;
        margin-top: -3rem;
        /*animation: tenellipse375 1s infinite!important;*/
    }

    /*@-webkit-keyframes tenellipse375{*/
    /*    0% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -4.5rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse375{*/
    /*    0% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -4.5rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*}*/
    .ten__contentLeftTitle {
        padding-top: 4.3rem;
        padding-left: 1rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 15px;
    }

    @-webkit-keyframes tenyog375 {
        0% {
            margin-top: 1.5rem;
        }
        50% {
            margin-top: 1.8rem;
        }
        100% {
            margin-top: 1.5rem;
        }
    }

    @keyframes tenyog375 {
        0% {
            margin-top: 1.5rem;
        }
        50% {
            margin-top: 1.8rem;
        }
        100% {
            margin-top: 1.5rem;
        }
    }
}

@media (max-width: 361px) {
    .ten__yog {
        position: absolute;
        height: 113px;
        object-fit: contain;
        width: 222px;
        margin-left: 9.5rem;
        margin-top: 2.5rem;
        animation: tenyog375 1s infinite !important;
    }

    .ellipse {
        margin-left: 14.3rem !important;
        margin-top: -3.3rem;
    }
}

@media (max-width: 321px) {
    .bootstrap__tableThree {
        margin-top: -3rem;
    }

    .ten {
        margin-bottom: -40px !important;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 155px;
    }

    .ten__yog {
        position: absolute;
        height: 99px;
        object-fit: contain;
        width: 123px !important;
        margin-left: 11rem;
        margin-top: 2.5rem;
        animation: tenyog320 3s infinite !important;
    }

    .ellipse {
        margin-left: 13.5rem !important;
        margin-top: -2.8rem;
        /*animation: tenellipse320 3s infinite!important;*/
    }

    .ten__contentLeftTitle {
        padding-top: 3.5rem;
        padding-left: 0.8rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
    }

    /*@-webkit-keyframes tenellipse320 {*/
    /*    0% {*/
    /*        margin-top: -4.2rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -4.5rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -4.2rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse320 {*/
    /*    0% {*/
    /*        margin-top: -4.2rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -4.5rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -4.2rem;*/
    /*    }*/
    /*}*/
    @-webkit-keyframes tenyog320 {
        0% {
            margin-top: 0.5rem;
        }
        50% {
            margin-top: 0.8rem;
        }
        100% {
            margin-top: 0.5rem;
        }
    }

    @keyframes tenyog320 {
        0% {
            margin-top: 0.5rem;
        }
        50% {
            margin-top: 0.8rem;
        }
        100% {
            margin-top: 0.5rem;
        }
    }

}
