.clip-path {
    -webkit-clip-path: polygon(49% 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(49% 0, 100% 0, 100% 100%, 50% 100%);
    width: 52rem;
    height: 66rem;
    padding-top: 2rem;
}

.logo__container {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin-top: 3rem;
    margin-left: 2rem;
    animation: circleIcons 7s linear infinite;
}

@-webkit-keyframes circleIcons {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circleIcons {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.karcher {
    position: absolute;
    z-index: 22;
    width: 150px;
    height: 100px;
    margin-left: 26rem;
    margin-top: -1rem;
    animation: iconRotate 7s linear infinite;
}


.lactalis {
    margin-top: -3rem;
    width: 20rem;
    margin-left: 24rem;
    animation: iconRotate 7s linear infinite;

}

@-webkit-keyframes iconRotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes iconRotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.why__me {
    position: relative;
    z-index: -1;
    height: 1000px;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 13%);
    width: 100%;
}

.why__meSloy {
    position: relative;
    z-index: 1;
    height: 1000px;
    width: 100%;
    clip-path: polygon(50% 0, 100% 0, 100% 62%, 50% 62%, 0 75%, 0 13%);
    background: #966cfd;
}

.why__meImageBack {;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 1000px;
    margin-top: -75px;
    filter: blur(35px);
}

.why_meContent {
    position: absolute;
    z-index: 333;
    width: 100%;
}

.why__meContentLeft {
}

.why__meContentRight {
    padding: 7rem;
}

.whyme__title {
    font-weight: bold;
    color: #ffffff;
}

.whyme__titleFirst {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.whyme__text {
    color: #ffffff;
    font-size: 13px;
    font-weight: 200;
}

.why__meImg {
    width: 200px;
    height: 100px;
}


.ukrtelecom {
    margin-top: 3rem;
    width: 240px;
    height: 78px;
    margin-left: 10rem;
    animation: iconRotate 7s linear infinite;

}

.danfoss {
    margin-top: -9rem;
    width: 35rem;
    margin-left: 16rem;
    animation: iconRotate 7s linear infinite;
}

.ct {
    margin-top: -6rem;
    margin-left: 29rem;
    width: 17rem;
    animation: iconRotate 7s linear infinite;
}

.ukt {
    height: 191px;
    margin-top: -1rem;
    margin-left: 28rem;
    animation: iconRotate 7s linear infinite;
}

.goprint {
    margin-top: -19rem;
    width: 500px;
    height: 500px;
    margin-left: -6rem;
    animation: iconRotate 7s linear infinite;
}

.inmore {
    /* margin-right: 3rem; */
    margin-top: -32rem;
    height: 20rem;
    width: 22rem;
    animation: iconRotate 7s linear infinite;
    margin-left: -32.3rem;
}

.listery {
    margin-top: -57rem;
    margin-left: -21.3rem;
    height: 157px;
    animation: iconRotate 7s linear infinite;
}

.total {
    margin-top: -78rem;
    margin-left: -12rem;
    width: 24rem;
    animation: iconRotate 7s linear infinite;
}

.agri {
    width: 11rem;
    height: 21.6rem;
    margin-top: -38rem;
    margin-left: 13rem;
    transform: rotate(
            79deg
    );
    margin-bottom: -7rem;
    padding-top: 7rem;
    background-size: 100%;
    animation: iconRotate 7s linear infinite;
}

.head {
    width: 36rem;
    height: 2.5rem;
    margin-top: -104rem;
    animation: iconRotate 7s linear infinite;
}
@media(min-width: 1536px) {
    .why__Row {
        max-width: 1536px;
        margin-left: auto;
        margin-right: auto;
    }
    .why__meImageBack {
        position: relative;
        z-index: 2;
        width: 100%;
        height: auto;
        margin-top: -171px;
        filter: blur(35px);
    }
    .why_meContent {
        width: auto;
    }
}

@media (max-width: 1025px) {
    .why__me, .why__meSloy {
        height: 600px;
    }

    .why__meImageBack {
        height: 678px;
        margin-top: -33px;
    }

    .why__meContentRight {
        padding: 1rem;
        padding-left: 7rem;
    }


    .whyme__titleFirst {
        font-size: 2.2rem;
    }

    .whyme__title {
        font-size: 1.8rem;
    }

    .why__meContentRight {
        padding: 3rem;
        padding-left: 6rem;
    }

    .whyme__text {
        font-size: 0.8rem;
    }

    .clip-path {
        width: 38rem;
    }

    .logo__container {
        width: 400px;
        height: 450px;
        border-radius: 50%;
        margin-top: 0rem;
        margin-left: 2rem;
        animation: circleIcons 10s linear infinite;
    }

    .goprint {
        margin-top: -23rem;
        width: 400px;
        height: 400px;
        margin-left: -9rem;
        animation: iconRotate 10s linear infinite;
    }

    .ukrtelecom {
        margin-top: 3rem;
        width: 240px;
        height: 78px;
        margin-left: 10rem;
        animation: iconRotate 10s linear infinite;

    }

    .danfoss {
        margin-top: -6rem;
        height: 19rem;
        margin-left: 7rem;
        animation: iconRotate 10s linear infinite;
    }

    .ct {
        margin-top: -9rem;
        margin-left: 18rem;
        width: 12rem;
        animation: iconRotate 10s linear infinite;
    }

    .goprint {
        margin-top: -19rem;
        width: 400px;
        height: 400px;
        margin-left: -11rem;
        animation: iconRotate 10s linear infinite;
    }

    .inmore {
        /* margin-right: 3rem; */
        margin-top: -48rem;
        height: 20rem;
        width: 20rem;
        animation: iconRotate 10s linear infinite;
        margin-left: -20rem;
    }


    .listery {
        margin-top: -30.5rem;
        margin-left: -20.5rem;
        height: 157px;
        animation: iconRotate 10s linear infinite;
    }

    .ukt {
        height: 170px;
        margin-top: -4rem;
        margin-left: 17rem;
        animation: iconRotate 10s linear infinite;
    }

    .lactalis {
        margin-top: -3.5rem;
        width: 12rem;
        margin-left: 16rem;
        animation: iconRotate 10s linear infinite;
    }

    .total {
        margin-top: -7rem;
        margin-left: -13rem;
        width: 25rem;
        animation: iconRotate 10s linear infinite;
    }

    .head {
        width: 25rem;
        height: 1.7rem;
        margin-top: -70rem;
        animation: iconRotate 10s linear infinite;
    }

    .agri {
        width: 9rem;
        height: 21.6rem;
        margin-top: -38rem;
        margin-left: 9rem;
        transform: rotate(
                79deg
        );
        margin-bottom: -17rem;
        padding-top: 7rem;
        background-size: 100%;
        animation: iconRotate 10s linear infinite;
    }
}

@media(max-width: 927px) {
    .why__me, .why__meSloy {
        height: 500px;
    }

    .why__meImageBack {
        height: 650px;
    }

    img.star__imageBack {
        margin-top: -33px;
    }

    .whyme__titleFirst {
        font-size: 1.4rem;
    }

    .whyme__title {
        font-size: 1.1rem;
    }

    .whyme__text {
        font-size: 12px !important;
    }

    .why__meContentRight {
        padding: 2rem;
        padding-left: 5rem;
    }

    .logo__container {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-top: 0.5rem;
        margin-left: 2rem;
        animation: circleIcons 7s linear infinite;
    }

    .goprint {
        margin-top: -18.5rem;
        width: 21rem !important;
        height: 20rem !important;
        animation: iconRotate 7s linear infinite;
        margin-left: -10rem;
    }

    .inmore {
        /* margin-right: 3rem; */
        margin-top: -28rem;
        height: 16rem;
        width: 13rem;
        animation: iconRotate 7s linear infinite;
        margin-left: -16rem;
    }


    .ukrtelecom {
        margin-top: 3rem;
        width: 240px;
        height: 78px;
        margin-left: 10rem;
        animation: iconRotate 7s linear infinite;

    }

    .danfoss {
        margin-top: -6rem;
        height: 14rem;
        margin-left: 1rem;
        animation: iconRotate 7s linear infinite;
    }

    .ct {
        margin-top: -7rem;
        margin-left: 14rem;
        width: 8rem;
        animation: iconRotate 7s linear infinite;
    }

    .listery {
        margin-top: -36.5rem;
        margin-left: -8.8rem;
        height: 91px;
        animation: iconRotate 7s linear infinite;
    }

    .ukt {
        height: 155px;
        margin-top: -4rem;
        margin-left: 12rem;
        animation: iconRotate 7s linear infinite;
    }

    .total {
        margin-top: -8rem;
        margin-left: -10.5rem;
        width: 15rem;
        animation: iconRotate 7s linear infinite;
    }

    .lactalis {
        margin-top: -3.5rem;
        width: 12rem;
        margin-left: 12rem;
        animation: iconRotate 7s linear infinite;
    }

    .agri {
        width: 7rem;
        height: 21.6rem;
        margin-top: -38rem;
        margin-left: 8rem;
        transform: rotate(
                79deg
        );
        margin-bottom: -24rem;
        padding-top: 9rem;
        background-size: 100%;
        animation: iconRotate 7s linear infinite;
    }

    .head {
        width: 18rem;
        height: 1.3rem;
        margin-top: -47rem;
        animation: iconRotate 7s linear infinite;
    }


    .clip-path {
        width: 28rem;
    }
}

@media (max-width: 845px) {

    .why__me, .why__meSloy {
        height: 500px;
    }

    .why__meImageBack {
        height: 510px;
    }

    img.star__imageBack {
        margin-top: -33px;
    }

    .whyme__titleFirst {
        font-size: 1.4rem;
    }

    .whyme__title {
        font-size: 1.1rem;
    }

    .whyme__text {
        font-size: 12px !important;
    }

    .why__meContentRight {
        padding: 2rem;
        padding-left: 5rem;
    }

    .logo__container {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-top: 0.5rem;
        margin-left: 2rem;
        animation: circleIcons 7s linear infinite;
    }

    .goprint {
        margin-top: -18.5rem;
        width: 21rem !important;
        height: 20rem !important;
        animation: iconRotate 7s linear infinite;
        margin-left: -10rem;
    }

    .inmore {
        /* margin-right: 3rem; */
        margin-top: -28rem;
        height: 16rem;
        width: 13rem;
        animation: iconRotate 7s linear infinite;
        margin-left: -16rem;
    }
    .ukrtelecom {
        margin-top: 3rem;
        width: 240px;
        height: 78px;
        margin-left: 10rem;
        animation: iconRotate 7s linear infinite;

    }

    .danfoss {
        margin-top: -6rem;
        height: 14rem;
        margin-left: 0rem;
        animation: iconRotate 7s linear infinite;
    }

    .ct {
        margin-top: -7rem;
        margin-left: 14rem;
        width: 8rem;
        animation: iconRotate 7s linear infinite;
    }

    .listery {
        margin-top: -36.5rem;
        margin-left: -8.8rem;
        height: 91px;
        animation: iconRotate 7s linear infinite;
    }

    .ukt {
        height: 155px;
        margin-top: -4rem;
        margin-left: 12rem;
        animation: iconRotate 7s linear infinite;
    }

    .total {
        margin-top: -8rem;
        margin-left: -10.5rem;
        width: 15rem;
        animation: iconRotate 7s linear infinite;
    }

    .lactalis {
        margin-top: -3.5rem;
        width: 12rem;
        margin-left: 12rem;
        animation: iconRotate 7s linear infinite;
    }

    .agri {
        width: 7rem;
        height: 21.6rem;
        margin-top: -38rem;
        margin-left: 8rem;
        transform: rotate(
                79deg
        );
        margin-bottom: -24rem;
        padding-top: 9rem;
        background-size: 100%;
        animation: iconRotate 7s linear infinite;
    }

    .head {
        width: 18rem;
        height: 1.3rem;
        margin-top: -47rem;
        animation: iconRotate 7s linear infinite;
    }


    .clip-path {
        width: 28rem;
    }
}

@media(max-width: 737px) {
    .logo__container {
        margin-left: -1rem;
    }
}

@media (max-width: 668px) {
    .clip-path {
        width: 23rem;
    }
    .danfoss {
        width: 26rem;
    }
}

@media (max-width: 640px) {
    .why__me, .why__meSloy {
        height: 300px;
    }

    .why__meImageBack {
        height: 280px;
    }

    .whyme__titleFirst {
        font-size: 0.9rem !important;
    }

    .whyme__title {
        font-size: 0.7rem;
        margin-bottom: 0.15rem;
        font-weight: bold;
    }

    .whyme__text {
        font-size: 5px !important;
        margin-bottom: 0.3rem !important;
    }

    .why__meContentRight {
        padding: 1.7rem;
        padding-left: 2.2rem;
    }

    .clip-path {
        width: 14.5rem;
    }

    .danfoss {
        margin-top: -3.3rem;
        height: 7rem;
        width: 8rem;
        margin-left: 2.5rem;
        animation: iconRotate 7s linear infinite;
    }

    .ct {
        margin-top: -4rem;
        margin-left: 8rem;
        width: 4rem;
        height: 4rem;
        animation: iconRotate 7s linear infinite;
    }

    .goprint {
        width: 11rem !important;
        height: 7rem !important;
        margin-top: -7rem;
        margin-left: -4rem;
        margin-right: 5rem;
        animation: iconRotate 7s linear infinite;
    }

    .inmore {
        margin-top: -14rem;
        margin-left: -2.3rem;
        height: 6rem;
        width: 6rem;
        animation: iconRotate 7s linear infinite;
    }

    .listery {
        margin-top: -21rem;
        margin-left: -5.7rem;
        height: 5rem;
        width: 5rem;
        animation: iconRotate 7s linear infinite;
    }

    .total {
        margin-top: -25rem;
        margin-left: -4.3rem;
        width: 6rem;
        height: 7rem;
        animation: iconRotate 7s linear infinite;
    }


    .ukt {
        height: 6rem;
        width: 6rem;
        margin-top: -2rem;
        margin-left: 7.8rem;
        animation: iconRotate 7s linear infinite;
    }

    .lactalis {
        margin-top: -2rem;
        width: 5rem;
        height: 5rem;
        margin-left: 7.7rem;
        animation: iconRotate 7s linear infinite;
    }
    .head {
        width: 16rem;
        height: 0.7rem;
        margin-top: -29rem;
        animation: iconRotate 7s linear infinite;
    }
    .agri {
        width: 4rem;
        height: 14.6rem;
        margin-top: -35rem;
        margin-left: 6rem;
        transform: rotate(
                79deg
        );
        margin-bottom: -24rem;
        padding-top: 9rem;
        background-size: 100%;
        animation: iconRotates 7s linear infinite;
    }


    .logo__container {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        margin-top: -1rem;
        margin-left: 1rem;
        animation: circleIcons 7s linear infinite;
    }
}

@media (max-width: 429px) {
    .why__me, .why__meSloy {
        height: 200px;
    }

    .whyme__titleFirst {
        font-size: 0.6rem !important;
    }

    .whyme__title {
        font-size: 0.45rem !important;
        font-weight: bold;
    }

    .whyme__text {
        font-size: 5px;
        line-height: 0.4rem;
        margin-bottom: 0.45rem;
    }

    .why__me, .why__meSloy {
        height: 181px;
    }

    .why__meImageBack {
        height: 247px;
        margin-top: -14px;
    }

    .why__meContentRight {
        padding: 0.9rem;
        padding-left: 2.6rem;
    }

    .whyme__titleFirst {
        margin-bottom: 0.5rem;
    }

    .clip-path {
        width: 13.5rem;
    }

    .danfoss {
        margin-top: -2rem;
        height: 5rem;
        width: 5rem;
        margin-left: 4rem;
        animation: iconRotate 7s linear infinite;
    }

    .ct {
        margin-top: -4rem;
        margin-left: 6rem;
        width: 2rem;
        height: 2rem;
        animation: iconRotate 7s linear infinite;
    }

    .ukt {
        height: 4rem;
        width: 4rem;
        margin-top: -4rem;
        margin-left: 5rem;
        animation: iconRotate 7s linear infinite;
    }

    .lactalis {
        margin-top: -2.5rem;
        width: 3.4rem;
        height: 3.4rem;
        margin-left: 4.5rem;
        animation: iconRotate 7s linear infinite;
    }

    .goprint {
        width: 6rem !important;
        height: 5rem !important;
        margin-top: -4.5rem;
        margin-left: -2rem;
        margin-right: 5rem;
        animation: iconRotate 7s linear infinite;
    }

    .inmore {
        margin-top: -7rem;
        margin-left: -10.5rem;
        height: 4rem;
        width: 4rem;
        animation: iconRotate 7s linear infinite;
    }

    .listery {
        margin-top: -11rem;
        margin-left: -3.7rem;
        height: 3rem;
        width: 3rem;
        animation: iconRotate 7s linear infinite;
    }

    .total {
        margin-top: -14.2rem;
        margin-left: -2.7rem;
        width: 5rem;
        height: 5rem;
        animation: iconRotate 7s linear infinite;
    }

    .logo__container {
        width: 110px;
        height: 110px;
        margin-left: 2rem;
        /* margin-bottom: -1rem; */
        margin-top: -1.2rem;
    }
    .agri {
        width: 2rem;
        height: 14.6rem;
        margin-top: -35rem;
        margin-left: 7.5rem;
        transform: rotate(
                79deg
        );
        margin-bottom: -24rem;
        padding-top: 12rem;
        background-size: 100%;
        animation: iconRotates 7s linear infinite;
    }
    .head {
        width: 7rem;
        height: 0.4rem;
        margin-top: -19.2rem;
        animation: iconRotate 7s linear infinite;
    }
}

@media (max-width: 321px) {
    .why__meImageBack {
        height: 211px;
        margin-top: -14px;
    }

    .whyme__titleFirst {
        margin-bottom: 0.5rem;
    }

    .logo__container {
        margin-left: 2rem;
    }

}
