.app {
    width: 100%;
}

.scroll {
    position: fixed;
    height: 12rem;
    width: 1px;
    z-index: 9999;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.scroll__border {
    width: 1px;
    height: 12rem;
    border-left: 1px solid gray;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
}

.scroll__text {
    font-size: .825rem;
    font-weight: 500;
    width: 5rem;
    transform: rotate(
            270deg
    );
    cursor: pointer;
}

@media (max-width: 1025px) {
    .scroll {
        height: 10rem;
    }

    .scroll__text {
        font-size: .775rem;
    }
}

@media (max-width: 769px) {
    .scroll {
        height: 9rem;
        margin-top: 0.7rem;
    }

    .scroll__text {
        font-size: .525rem !important;
        padding-bottom: 0.2rem;
    }

    .scroll__border {
        width: 1px;
        height: 3.5rem;
        border-left: 1px solid gray;
        margin-top: 1.3rem;
        margin-bottom: 0rem;
    }
}

@media (max-width: 426px) {
    .scroll {
        height: 7.5rem;
        margin-top: 0.2rem;
    }

    .scroll__text {
        font-size: .325rem !important;
        padding-bottom: 0.1rem;
    }

    .scroll__border {
        width: 1px;
        height: 2.4rem;
        border-left: 0.1px solid gray;
        margin-top: 1.8rem;
        margin-bottom: -0.5rem;
    }
}

@media (max-width: 376px) {
    .scroll {
        margin-top: 0.5rem;
    }


    .scroll__text {
        font-size: 0.31rem !important;
        padding-bottom: 0;
    }

    .scroll__border {
        margin-top: 2.3rem;
    }
}

@media (max-width: 321px) {
    .scroll__text {
        font-size: .410rem !important;
        padding-bottom: 0;
    }
}
